<h1>Импортировать рабочее место</h1>

<form asp-action="UploadFileAndJson" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <input class="form-control" name="files" type="file" accept=".json" multiple="multiple"/>
    </div>
    <input class="btn btn-primary" type="submit" value="Загрузить"/>
</form>