<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TechInvent</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css?anticache=true" asp-append-version="true" />
</head>
<body>
    @if (Context.User.Identity.IsAuthenticated)
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TechInvent</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                               @await Component.InvokeAsync("Search")
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="TechRequest" asp-action="Index">Заявки</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Monitors" asp-action="Index">Мониторы</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Import" asp-action="Index">Импортировать рабочее место</a>
                            </li>
                        </ul>
                        <div class="nav-item">
                            <form asp-controller="Workplaces" asp-action="Search">
                                <input type="text" class="form-control" name="query" value="@ViewBag.query" />
                            </form>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Auth" asp-action="Logout">Выйти</a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
    }
    <div class="container d-flex flex-column min-vh-100">
        <main role="main" class="pb-3 flex-grow-1">
            @RenderBody()
        </main>

    </div>
    <footer>
        <a href="https://github.com/sh4r1k" style="color: inherit;">
            <svg bootstrap-icon="Github" width="24" height="24" aria-label="Alarms"></svg>
        </a>
        <div class="text-center p-3">
            &copy; @DateTime.UtcNow.Year - TechInvent - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
