@model TechRequest

@{
    ViewBag.Title = "Запрос технической поддержки";
}

<h2>Создание технического запроса</h2>


<form asp-action="Create">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label asp-for="Title">Заголовок</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description">Описание</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="IdRequestType" class="control-label">Тип заявки</label>
        <select asp-for="IdRequestType" class="form-control" asp-items="ViewBag.IdRequestType" data-val-required="Тип не может быть пустым"></select>
        <span asp-validation-for="IdRequestType" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="AttachedWorkplaces" class="control-label">Рабочие места</label>
        <div>
            @foreach (var workplace in ViewBag.Workplaces)
            {
                <label>
                    <input type="checkbox" name="selectedWorkplaces" value="@workplace.IdWorkplace" />
                    @workplace.Name
                </label>

                <br />
            }
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Создать</button>
    </div>
</form>
