@model TechInvent.DM.Models.Vendor

@{
    ViewData["Title"] = "Редактировать";
}

<h1>Редактировать</h1>

<h4>Производитель</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdVendor" />
            <div class="mb-3 form-group">
                <label asp-for="Name" class="control-label">Название</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                <a class="btn btn-primary" href="javascript:history.back()">Назад к списку</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
