@model TechInvent.DM.Models.Monitor

@{
    ViewData["Title"] = "Создать";
}

<h1>Создать</h1>

<h4>Монитор</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3 form-group">
                <label asp-for="Name" class="control-label">Имя</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group">
                <label asp-for="InventNumber" class="control-label">Инвентарные номер</label>
                <input asp-for="InventNumber" class="form-control" />
                <span asp-validation-for="InventNumber" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group">
                <label asp-for="SerialNumber" class="control-label">Серийный номер</label>
                <input asp-for="SerialNumber" class="form-control" />
                <span asp-validation-for="SerialNumber" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group">
                <label asp-for="IdVendor" class="control-label">Производитель</label>
                <select asp-for="IdVendor" class="form-control" asp-items="ViewBag.IdVendor"></select>
                <span asp-validation-for="IdVendor" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group">
                <label asp-for="IdWorkplace" class="control-label">Рабочее место</label>
                <select asp-for="IdWorkplace" class="form-control" asp-items="ViewBag.IdWorkplace"></select>
                <span asp-validation-for="IdWorkplace" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
