@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">TechInvent</h1>
    <p>Добро пожаловать!</p>
    <a asp-controller="Cabinets" asp-action="Index" class="btn btn-warning">Список кабинетов</a>

</div>
