@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1 class="display-4">TechInvent</h1>
    <p>Добро пожаловать!</p>
    <div class="row justify-content-center">
        <a asp-controller="Cabinets" asp-action="Index" class="btn btn-primary" style="width: 18rem; margin: 1rem;">Список кабинетов</a>
        @if (Context.User.IsInRole("admin"))
        {
            <a asp-controller="Users" asp-action="Index" class="btn btn-primary" style="width: 18rem; margin: 1rem;">Управление пользователями</a>
        }
    </div>
</div>