@{
    if (ViewData["qrBinary"] != null)
    {
        <img src="data:image/jpeg;base64,@ViewData["qrBinary"]" />
    }
    else
    {
        <p>Странно, не нашли QR для этого рабочего места</p>
    }
    <div style="padding-top: 1em">
        <a class="btn btn-secondary" href="@ViewData["Reffer"]">Назад</a>
    </div>

}
