@model IEnumerable<Cabinet>

@{
    ViewData["Title"] = "Кабинеты";
}

<h1>Кабинеты</h1>

@{
    var cabinets = Model.ToList();
        <div class="row justify-content-center justify-content-md-start">
            @for (int j = 0; j < cabinets.Count; j++)
            {
                    <div class="card" style="width: 18rem; margin: 1rem;">
                        <div class="card-body">
                            <h5 class="card-title">@cabinets[j].Name</h5>
                            <p class="card-text">Количество рабочих мест: @cabinets[j].Workplaces.Count</p>
                            <a asp-controller="Workplaces" asp-action="Index" asp-route-id="@cabinets[j].IdCabinet" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>
            }
        </div>
}
