@model IEnumerable<Cabinet>

@{
    ViewData["Title"] = "Кабинеты";
}

<h1>Кабинеты</h1>

@{
    var cabinets = Model.ToList();
    <div>
        <a class="btn btn-secondary" asp-action="GenerateReport">Экспортировать в Excel</a>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCabinetModal">Добавить кабинет</button>
    </div>
    <div class="row justify-content-center justify-content-md-start">
        @for (int j = 0; j < cabinets.Count; j++)
        {
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@cabinets[j].Name</h5>
                    <p class="card-text">Количество рабочих мест: @cabinets[j].Workplaces.Count</p>
                    <div class="row gy-2 justify-content-center justify-content-md-start">
                        <a asp-controller="Workplaces" asp-action="Index" asp-route-id="@cabinets[j].IdCabinet" class="btn btn-primary">Подробнее</a>
                        <a class="btn btn-secondary" asp-action="GenerateReportById" asp-route-id="@cabinets[j]?.IdCabinet">Экспортировать в Excel</a>
                    </div>
               </div>
            </div>
        }
    </div>
}
<div class="modal fade" id="addCabinetModal" tabindex="-1" aria-labelledby="addCabinetModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCabinetModalLabel">Добавить кабинет</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="Create" method="post">
                    <div class="mb-3">
                        <label for="CabinetName" class="form-label">Название кабинета</label>
                        <input type="text" class="form-control" id="CabinetName" name="Name" required />
                    </div>
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </form>
            </div>
        </div>
    </div>
</div>