/* Links and Buttons */
a, .fbtn-link {
    color: var(--text-neon-purple); /* Neon Purple Link Color */
    transition: color 0.3s ease; /* Smooth transition for links */
    text-shadow: 0 0 5px var(--text-neon-purple); /* Neon glow effect */
    border: none;
    box-shadow: none;
    background: none;
}

    a:hover, a:focus, .fbtn-link:hover, .fbtn-link:focus {
        color: var(--text-neon-pink); /* Neon Pink on hover */
    }

/* Buttons */
.btn {
    background-color: var(--main-color); /* Transparent background */
    color: var(--text-button); /* Light text color */
    border: none; /* Initial transparent border */
    padding: 10px 20px; /* Padding for button */
    font-size: 16px; /* Font size */
}

    .btn:hover, .btn:focus {
        background-color: var(--button-hover); /* Background on hover */
    }

.nav-link {
    color: var(--text-button); /* Light text color */
}

    .nav-link:hover, .nav-link:focus {
        text-shadow: 0 0 10px var(--text-neon-pink); /* Neon glow effect on hover */
        color: var(--text-button); /* Light text color */
    }
